@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background: #e7f1ea;
}

h1 {
  text-align: center;
  font-family: "Indie Flower";
  position: absolute;
  bottom: 12%;
  left: 50%;
  color: #ce0000;
  transform: translateX(-50%);
  font-size: 27px;
  margin: 0px;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 10%;
  width: 300px;
  height: 300px;
  border: dashed 4px #ce0000;
  display: flex;
}

.head {
  position: absolute;
  /*     border: solid 4px #62BB86; */
  top: 36%;
  left: 20%;
  width: 60%;
  height: 30%;
  border-radius: 8px;
  z-index: 1;
}

.head-copy {
  top: -4%;
  left: -2%;
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid 4px #62bb86;
  border-radius: 8px;
  z-index: 2;
  background: #e7f1ea;
}

.hat {
  top: -80px;
  width: 60px;
  right: 25%;
  height: 80px;
  position: absolute;
  background: #ce0000;
  z-index: 2;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hat-top {
  top: -84px;
  left: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  background: #f6f6f6;
  z-index: 3;
  border-radius: 50px;
  border: 1px solid #c8c8c8;
}

.ears {
  position: absolute;
  width: 110%;
  height: 70%;
  right: -7%;
  top: 8%;
  z-index: 0;
  border-radius: 10px;
  background: #e7f1ea;
  border: solid 4px #62bb86;
}

.eye-left {
  position: absolute;
  border: solid 6px #62bb86;
  border-radius: 50%;
  width: 12%;
  height: 24%;
  top: 25%;
  left: 20%;
  z-index: 3;
}

.eye-right {
  position: absolute;
  border: solid 6px #62bb86;
  border-radius: 50%;
  width: 12%;
  height: 24%;
  top: 25%;
  right: 20%;
  z-index: 3;
}

.pupil {
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #62bb86;
  z-index: 3;
}

.mouth {
  position: absolute;
  width: 25%;
  height: 20%;
  background-color: #62bb86;
  bottom: -1%;
  left: 37.5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 3;
}
